# DB-Verbindung (per Env Variablen mit Defaults für lokale Dev)
spring.datasource.url=${DB_URL:}
spring.datasource.username=${DB_USER:}
spring.datasource.password=${DB_PASSWORD:}

# Connection-Pool
spring.datasource.hikari.maximum-pool-size=1

# Webserver
spring.main.web-application-type=none

# Hibernate/JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=update